In [3]:
import requests

data =  requests.get('https://fantasy.premierleague.com/api/bootstrap-static/')
data =  data.json()
data.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [7]:
import pandas as pd
elements_df =  pd.DataFrame(data['elements'])
element_types =  pd. DataFrame(data['element_types'])
teams = pd.DataFrame(data['teams'])
elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type'],
      dtype='object')

In [9]:
usable_data =elements_df[['first_name','second_name','points_per_game','team','element_type',
'selected_by_percent','now_cost','minutes','transfers_in','value_season','total_points']]
usable_data

         first_name           second_name  ... value_season  total_points
0             Mesut                  Özil  ...          7.6            53
1          Sokratis      Papastathopoulos  ...         11.4            57
2             David  Luiz Moreira Marinho  ...         17.1            94
3    Pierre-Emerick            Aubameyang  ...         17.1           205
4            Cédric                Soares  ...         12.2            61
..              ...                   ...  ...          ...           ...
478          Matija                Sarkic  ...          0.0             0
479          Morgan           Gibbs-White  ...          2.2            11
480           Pedro            Lomba Neto  ...         10.4            57
481     Bruno André         Cavaco Jordao  ...          0.2             1
482        Leonardo               Campana  ...          0.0             0

[483 rows x 11 columns]

In [25]:

usable_data['position'] = usable_data.element_type.map(element_types.set_index('id').singular_name)
usable_data['Club'] = usable_data.team.map(teams.set_index('id').name)
usable_data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

         first_name           second_name  ...    position     Club
0             Mesut                  Özil  ...  Midfielder  Arsenal
1          Sokratis      Papastathopoulos  ...    Defender  Arsenal
2             David  Luiz Moreira Marinho  ...    Defender  Arsenal
3    Pierre-Emerick            Aubameyang  ...  Midfielder  Arsenal
4            Cédric                Soares  ...    Defender  Arsenal
..              ...                   ...  ...         ...      ...
478          Matija                Sarkic  ...  Goalkeeper   Wolves
479          Morgan           Gibbs-White  ...  Midfielder   Wolves
480           Pedro            Lomba Neto  ...  Midfielder   Wolves
481     Bruno André         Cavaco Jordao  ...  Midfielder   Wolves
482        Leonardo               Campana  ...     Forward   Wolves

[483 rows x 13 columns]

In [31]:
usable_data['value_season'] = usable_data['value_season'].astype('float32')
usable_data = usable_data.sort_values('value_season',ascending = False)
usable_data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    first_name second_name  ...    position         Club
96        Nick        Pope  ...  Goalkeeper      Burnley
70      Mathew        Ryan  ...  Goalkeeper     Brighton
305       Dean   Henderson  ...  Goalkeeper      Man Utd
326     Martin    Dubravka  ...  Goalkeeper    Newcastle
194     Kasper  Schmeichel  ...  Goalkeeper    Leicester
..         ...         ...  ...         ...          ...
197     Adrien       Silva  ...  Midfielder    Leicester
319      Teden       Mengi  ...    Defender      Man Utd
117       Timo      Werner  ...     Forward      Chelsea
386   Mohammed      Salisu  ...    Defender  Southampton
482   Leonardo     Campana  ...     Forward       Wolves

[483 rows x 13 columns]

In [37]:

import numpy as np
team_value = usable_data.pivot_table(index='Club',values='value_season',aggfunc=np.mean).reset_index()
team_value =  team_value.sort_values('value_season',ascending = False)
team_value

              Club  value_season
14   Sheffield Utd     14.330000
3          Burnley     13.755000
10       Liverpool     12.380000
11        Man City     12.243479
19          Wolves     12.066667
9        Leicester     11.644000
13       Newcastle     10.850000
5   Crystal Palace     10.578261
15     Southampton     10.573913
4          Chelsea     10.454166
1      Aston Villa     10.036000
18        West Ham      9.969231
2         Brighton      9.967857
16           Spurs      9.952000
6          Everton      9.869565
0          Arsenal      9.789286
12         Man Utd      9.774194
7           Fulham      0.000000
8            Leeds      0.000000
17       West Brom      0.000000